*{
    margin: 0;
    padding: 0;
}
/* *********头部 */
.xf_header{
    width: 100%;
    height: 77px;
    background: #fff;
    border-bottom: 1px solid #9d9895;
    /* position: fixed;
    left: 0;
    top: 0;
    z-index: 10; */
}
header{
    width: 100%;
    height: 78px;
    /* background: pink; */
    margin: 0 auto;
    overflow: hidden;
    /* overflow: hidden;避免跟随子元素的位置发生位置变化 */
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    /* postiion到z-index: ;都是固定定位导航栏 */
    background: #fff;
    border-bottom: 1px solid #9d9895;
}
header >a{
    float: left;
} 
header >a img{
    width: 217px;
    height: 45px; 
    margin-top: 15px;
}
header .city{
    float: left;
    margin-top: 29px;
    font-size: 12px;
}
header .city img{
    width: 11px;
    height: 17px;
    /* margin-left: 31px; */
    margin-right: 7px;
}
header .city a{
    padding: 9px;
    /* padding为填充 */
    background: #cccccc;
    color: #fff;
}
header .nav{
    float: left;
    height: 78px;
    line-height: 78px;
    margin-left: 66px;
}
header .nav a{
    color: #220e03;
    margin-right: 29px;
    font-size: 12px;
}
header .nav a:last-child{
    margin-right: 0px;
}
header .nav a:first-child{
    margin-right: 36px;
}
header .link{
    float: right;
    margin-top: 29px;
}
header .link img{
    width: 23px;
    height: 23px;
    float: left;
    margin-right: 23px;
}
header .link a{
    padding: 11px 8px 12px 8px;
    border: 1px solid #989898;
    color: #03000e;
}
/* *********banner*********** */
.banner{
    height: 662px;
    /* background: red; */
    margin-top: 78px;
    /* 此处的margin-top是为了banner和导航栏的固定定位有一个间距 */
}
.banner a img{
    width: 100%;
    height: 662px;
}
/* **********caketype******************* */
.cake_type{
    width: 100%;
    height: 477px;
    /* background: red; */
}
.cake_type div{
    width: 33.33%;
    height: 477px;
    float: left;
    text-align: center;
    overflow: hidden;
    /* 因为子元素用了margin-top,所以父元素要用overflow */
}
.cake_type div:nth-child(1){
    background: #eee2c8;
}
.cake_type div:nth-child(2){
    background: #ddc69d;
}
.cake_type div:nth-child(3){
    background: #eee2c8;
}
.cake_type div img{
    width: 290px;
    height: 191px;
    margin-top: 77px;
}
/* .cake_type div a{

   display: block;转换为块元素
} */
.cake_type div a:nth-of-type(1){
    margin-bottom: 60px;
    display: block;
    /* display: block;转换为块元素 */
} 
.cake_type div a:nth-of-type(2){
    font-size:14px;
    border-bottom: 1px solid #1d181c;
    padding-bottom: 10px;
    display:inline-block;
    /* display:inline-block;将a标签转化为行内块 */
    color: #03000e;
}
.cake_type div a:nth-of-type(2) span:nth-child(1){
    font-weight: bolder;
    color: #03000e;
}
.cake_type div p{
    margin-top: 25px;
}
/* **********footer****************** */
.xf_footer{
    height: 125px;
    background: #3e2d23;
}
footer{
    width: 1251px;
    height: 125px;
    /* background: red; */
    margin: 0 auto;
}
footer .footer1{
    overflow: hidden;
}
footer .footer1 .msg{
    margin-top: 37px;
    margin-left: 8px;
    float: left;
}
footer .footer1 .msg a{
    color: #fff;
    padding-left: 22px;
    padding-right: 18px;
    border-right: 1px solid #b3a59c;
    font-size: 12px;
}
footer .footer1 .msg a:last-child{
    border: 0;
}
footer .footer1 .tel{
    float: left;
    margin-top: 37px;
    margin-left: 75px;
    font-size: 12px;
}
footer .footer1 .tel a{
    margin-right: 45px;
    color: #fff;
}
footer .footer1 .tel a img{
    width: 23px;
    height: 23px;
    float: left;
    margin-right: 3px;
}
footer .footer2{
    text-align: center;
    margin-top: 34px;
    color: #fff;
}
footer .footer2 .copyright span{
    margin-right: 40px;
    font-size:12px;
}